<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation Parameters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        /* You can add any VERY specific custom styles here, but try to use Bootstrap classes first */
    </style>
</head>
<body>
    <div class="container"> 
        <h1 class="text-center mt-4">Simulation Parameters</h1>

        <form method="POST" action="{{ url_for('parameters') }}" class="mt-4">
            <div class="form-group">
                <label for="inter_arrival_time_type">Inter Arrival Time Type:</label>
                <select id="inter_arrival_time_type" name="inter_arrival_time_type" class="form-control">
                    <option value="FIXED">Fixed</option>
                    <option value="NORMAL">Normal</option>
                    <option value="EXPONENTIAL">Exponential</option>
                    <option value="UNIFORM">Uniform</option>
                    <option value="TRIANGULAR">Triangular</option>
                    <option value="LOGNORMAL">Log-Normal</option>
                    <option value="GAMMA">Gamma</option>
                    <option value="HISTOGRAM">Histogram</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inter_arrival_time_mean">Mean:</label>
                <input type="number" id="inter_arrival_time_mean" name="inter_arrival_time_mean" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="inter_arrival_time_arg1">Arg1 (if applicable):</label>
                <input type="number" id="inter_arrival_time_arg1" name="inter_arrival_time_arg1" class="form-control">
            </div>

            <div class="form-group">
                <label for="inter_arrival_time_arg2">Arg2 (if applicable):</label>
                <input type="number" id="inter_arrival_time_arg2" name="inter_arrival_time_arg2" class="form-control">
            </div>

            <div class="form-group">
                <label for="inter_arrival_time_time_unit">Time Unit:</label>
                <select id="inter_arrival_time_time_unit" name="inter_arrival_time_time_unit" class="form-control">
                    <option value="seconds">seconds</option>
                    <option value="minutes">minutes</option>
                    <option value="hours">hours</option>
                    <option value="days">days</option>
                </select>
            </div>

            <div class="form-group">
                <label for="instances">Total number of process instances:</label>
                <input type="number" id="instances" name="instances" class="form-control" required value="1"> 
            </div>

            <div class="form-group">
                <label for="start_date">Scenario start date and time:</label>
                <input type="datetime-local" id="start_date" name="start_date" class="form-control">
            </div>
            <div class="container px-0">
                <div class="row">
                  <div class="col-md-11">
                    <h2 class="my-5">Resources</h2>
                  </div>
                  <div class="col-md-1 d-flex align-items-center justify-content-center">
                    <button type="button" onclick="addResource()" class="btn btn-secondary mb-3">+</button>
                  </div>
                </div>
              </div>
            <div id="resources-container">
            </div>

            <div class="container px-0">
                <div class="row">
                  <div class="col-md-11">
                    <h2 class="my-5">Timetables</h2>
                  </div>
                  <div class="col-md-1 d-flex align-items-center justify-content-center">
                    <button type="button" onclick="addTimetable()" class="btn btn-secondary mb-3">+</button>
                  </div>
                </div>
              </div>
            <div id="timetables-container">
            </div>
            <br>
            <button type="submit" class="btn btn-primary my-3">Save Parameters and Run Simulation</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
        let resourceCounter = 0;
        let timetableCounter = 0;
        let ruleCounter = {}; 

        function addResource() {
            resourceCounter++;
            const resourcesContainer = document.getElementById('resources-container');
            const resourceDiv = document.createElement('div');
            resourceDiv.classList.add('resource-group', 'mb-3'); // Add 'mb-3' for bottom margin
            resourceDiv.innerHTML = `
                <div class="form-row"> 
                    <div class="col-md-12">
                        <h4>Resource ${resourceCounter}</h4>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="resource_name_${resourceCounter}">Name:</label>
                        <input type="text" class="form-control" id="resource_name_${resourceCounter}" name="resource_name_${resourceCounter}" required>
                    </div>
                </div>
                <div class="form-row"> 
                    <div class="form-group col-md-12">
                        <label for="resource_amount_${resourceCounter}"># of Resources:</label>
                        <input type="number" class="form-control" id="resource_amount_${resourceCounter}" name="resource_amount_${resourceCounter}" required>
                    </div>
                    <div class="form-group col-md-12"> 
                        <label for="resource_cost_${resourceCounter}">Cost per Hour:</label>
                        <input type="number" class="form-control" id="resource_cost_${resourceCounter}" name="resource_cost_${resourceCounter}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="resource_timetable_${resourceCounter}">Timetable:</label>
                        <select id="resource_timetable_${resourceCounter}" name="resource_timetable_${resourceCounter}" class="form-control">                    
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-danger mt-3" onclick="removeResource(this)">Remove Resource</button> 
            `;
            resourcesContainer.appendChild(resourceDiv);
            updateTimetableOptions(); 
        }

        function removeResource(button) {
            const resourceDiv = button.parentElement;
            resourceDiv.remove();
            updateTimetableOptions(); 
        }

        function addTimetable() {
            timetableCounter++;
            ruleCounter[timetableCounter] = 0;
            const timetablesContainer = document.getElementById('timetables-container');
            const timetableDiv = document.createElement('div');
            timetableDiv.classList.add('timetable-group', 'mb-3'); // Add margin-bottom
            timetableDiv.innerHTML = `
                <div class="row my-3">
                    <div class="col-10">
                        <h4>Timetable ${timetableCounter}</h4>
                    </div>
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-danger btn-block mb-3" onclick="removeTimetable(this)">Remove Timetable</button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="timetable_name_${timetableCounter}">Name:</label>
                        <input type="text" class="form-control" id="timetable_name_${timetableCounter}" name="timetable_name_${timetableCounter}" required>
                    </div>
                </div>
                <div id="rules-container-${timetableCounter}"></div>
                <div class="form-row"> 
                    <div class="col-md-6"> 
                        <button type="button" class="btn btn-secondary btn-block mb-3" onclick="addRule(${timetableCounter})">Add Rule</button>
                    </div>
                </div>
            `;
            timetablesContainer.appendChild(timetableDiv);
            updateTimetableOptions(); 
        }

        function removeTimetable(button) {
            const timetableDiv = button.closest('.timetable-group'); // Use closest()
            if (timetableDiv) { 
                timetableDiv.remove();
                updateTimetableOptions(); 
            }
        }

        function addRule(timetableNum) {
            ruleCounter[timetableNum]++;
            const rulesContainer = document.getElementById(`rules-container-${timetableNum}`);
            const ruleDiv = document.createElement('div');
            ruleDiv.classList.add('rule-group', 'mb-3'); // Add 'rule-group' and margin 
            ruleDiv.innerHTML = `
                <div class="row my-3">
                    <div class="col-10">
                        <h4>Rule ${ruleCounter[timetableNum]}</h4>
                    </div>
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-danger btn-block" onclick="removeRule(this, ${timetableNum})">Remove Rule</button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="rule_from_time_${timetableNum}_${ruleCounter[timetableNum]}">From Time:</label>
                        <input type="time" class="form-control" id="rule_from_time_${timetableNum}_${ruleCounter[timetableNum]}" name="rule_from_time_${timetableNum}_${ruleCounter[timetableNum]}" required>
                    </div>
                    <div class="form-group col-6">
                        <label for="rule_to_time_${timetableNum}_${ruleCounter[timetableNum]}">To Time:</label>
                        <input type="time" class="form-control" id="rule_to_time_${timetableNum}_${ruleCounter[timetableNum]}" name="rule_to_time_${timetableNum}_${ruleCounter[timetableNum]}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="rule_from_day_${timetableNum}_${ruleCounter[timetableNum]}">From Day:</label>
                        <select id="rule_from_day_${timetableNum}_${ruleCounter[timetableNum]}" name="rule_from_day_${timetableNum}_${ruleCounter[timetableNum]}" class="form-control">
                            <option value="MONDAY">Monday</option>
                            <option value="TUESDAY">Tuesday</option>
                            <option value="WEDNESDAY">Wednesday</option>
                            <option value="THURSDAY">Thursday</option>
                            <option value="FRIDAY">Friday</option>
                            <option value="SATURDAY">Saturday</option>
                            <option value="SUNDAY">Sunday</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="rule_to_day_${timetableNum}_${ruleCounter[timetableNum]}">To Day:</label>
                        <select id="rule_to_day_${timetableNum}_${ruleCounter[timetableNum]}" name="rule_to_day_${timetableNum}_${ruleCounter[timetableNum]}" class="form-control">
                            <option value="MONDAY">Monday</option>
                            <option value="TUESDAY">Tuesday</option>
                            <option value="WEDNESDAY">Wednesday</option>
                            <option value="THURSDAY">Thursday</option>
                            <option value="FRIDAY">Friday</option>
                            <option value="SATURDAY">Saturday</option>
                            <option value="SUNDAY">Sunday</option>
                        </select>
                    </div>
                </div>
            `;
            rulesContainer.appendChild(ruleDiv);
            updateTimetableOptions();
        }
        function removeRule(button) {
            const ruleDiv = button.closest('.rule-group'); // Find the ancestor with class 'rule-group'
            if (ruleDiv) {
                const timetableDiv = ruleDiv.closest('.timetable-group'); // Find the ancestor timetable
                if (timetableDiv) {
                const timetableNum = timetableDiv.querySelector('h4').textContent.split(' ')[1]; // Extract timetable number
                ruleCounter[timetableNum]--; // Decrement rule counter for the timetable
                }
                ruleDiv.remove(); 
            }
        }
        function updateTimetableOptions() {
            // Get all the timetable name input fields
            let timetableNames = [];
            for (let i = 0; i <= timetableCounter; i++) {
                let timetableNameInput = document.getElementById(`timetable_name_${i}`);
                if (timetableNameInput) { 
                    timetableNames.push(timetableNameInput.value);
                }
            }

            // Update the options for each resource's timetable select
            for (let i = 1; i <= resourceCounter; i++) {
                let timetableSelect = document.getElementById(`resource_timetable_${i}`);
                if (timetableSelect) {
                    // Clear existing options
                    timetableSelect.innerHTML = ''; 
                    // Add options for each available timetable
                    timetableNames.forEach(name => {
                        timetableSelect.add(new Option(name, name));
                    });
                }
            }
        }
    </script>

</body>
</html>